<div class="row">

  <div class="col s12 m4">
    <div class="card-panel red lighten-1 white-text center-align hoverable">
      <h2>101</h2>
      <span>всего заказов</span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel red lighten-1 white-text center-align hoverable">
      <h2>87</h2>
      <span>всего клиентов</span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel red lighten-1 white-text center-align hoverable">
      <h2>77 700</h2>
      <span>чистая прибыль</span>
    </div>
  </div>
  
</div>