:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1976D2;
    height: 10%;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    color: white;
}

:host h1 {
    margin: 0 0 0 10px;
    font-weight: 400;
}